<!DOCTYPE html>
<html>
    <head>
        <meta name="Description" content="" />
        <meta name="Keywords" content="" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Distribution" content="Global" />
        <meta name="Robots" content="noindex,nofollow" />
        <title>Bowling</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            .padding-top-10 {
                padding-top: 10px;
            }
        </style>
    </head>
    <body>
        <div id='app' class="container">
            <template v-if="loading">
                <i class="fa fa-spinner fa-spin fa-2x"></i> Loading...
            </template>

            <bowling inline-template :results="results" v-if="hasResults">
                <div class="row">

                    <ul class="nav nav-tabs nav-justified padding-top-10">
                        <li v-for="data, year in years">
                            <a @click="setYear(year)" role="tab" data-toggle="tab" aria-expanded="false" v-text="year"></a>
                        </li>
                        <li class="active">
                            <a @click="setYear(null)" role="tab" data-toggle="tab" aria-expanded="true">All</a>
                        </li>
                    </ul>

                    <div class="padding-top-10">

                        <div role="tabpanel" class="tab-pane active" id="all">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="panel panel-default">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Games</th>
                                                    <th>Series</th>
                                                    <th>Average</th>
                                                    <th>Running Average</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="data, date, index in getYear(selectedYear)">
                                                    <td v-text="date"></td>

                                                    <td>
                                                        <span v-text="game+' '" v-for="game in data.games"></span>
                                                    </td>

                                                    <td v-text="data.series"></td>
                                                    <td v-text="data.average"></td>
                                                    <td v-html="runningAverageText(index, selectedYear)"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="col-md-6">

                                    <div class="row">

                                        <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" v-for="stat in stats(selectedYear)">
                                                    <strong v-text="stat.title"></strong>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-6">
                                            <ul class="list-group">
                                                <li class="list-group-item" v-for="stat in stats(selectedYear)">
                                                    <strong v-text="stat.result"></strong>
                                                    <span class="pull-right" v-text="stat.date"></span>
                                                </li>
                                            </ul>
                                        </div>

                                    </div>


                                    <line-chart :chart-data="chartSeries(selectedYear)" :options="chartOptions"></line-chart>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </bowling>
        </div>
    </body>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
 
    <script>
      const LineChart = {
        name: 'LineChart',
        extends: VueChartJs.Line,
        mixins: [VueChartJs.mixins.reactiveProp],
        props: ['chartData', 'options'],
        mounted () {
          this.renderChart(this.chartData, this.options)
        }
      };

      const Bowling = {
        name: 'BowlingResults',
        props: {
          results: {}
        },
        data() {
          return {
            decimalPlaces: 0,
            dateFormat: 'D/MM/Y',
            selectedYear: null,
          }
        },
        components: {
          LineChart
        },
        computed: {
          years() {
            let years = {};

            for(let key of Object.keys(this.results)){
              let game = this.results[key];
              let gameYear = game.date.year();

              if(!years.hasOwnProperty(gameYear)){
                years[gameYear] = {};
              }

              years[gameYear][key] = game;
            }

            return years;
          },

          chartOptions(){
            return { responsive: true, maintainAspectRatio: false };
          }
        },
        methods: {
          setYear(year = null){
            this.selectedYear = parseInt(year);
          },

          getYear(year = null){
            return year ? this.years[year] : this.results;
          },

          getRandomColor() {
            return '#'+Math.floor(Math.random()*16777215).toString(16);
          },

          chartSeries(year){
            if(!year){
              let results = {
                labels: Object.keys(this.results),
                datasets: []
              };

              for(let year of Object.keys(this.years)){
                let result = this.chartSeries(year).datasets[0];
                let paddingInData = 0;

                if(results.datasets.length !== 0){
                  paddingInData = results.datasets[results.datasets.length - 1].data.length;
                  for(let i = 0; i < paddingInData; i++){
                    result.data.unshift(0);
                  }
                }

                results.datasets.push(result);
              }

              return results;
            }

            let series = [];
            let labels = [];

            for(let games of Object.values(this.results)){
              if(games.date.year() === parseInt(year)){
                series.push(games.series);
                labels.push(games.date.format(this.dateFormat));
              }
            }

            return {
              labels,
              datasets: [{
                label: `Series for ${year}`,
                backgroundColor: this.getRandomColor(),
                data: series
              }]
            };
          },

          stats(year = null){
            let results = [];

            const methods = [
              'getLowestGame',
              'getLowestSeries',
              'getHighestGame',
              'getHighestSeries',
              'getCurrentAverage',
              'getGamesPlayed',
              'getTotalPins',

              'getGamesOver:200',
              'getGamesOver:250',
              'getSeriesOver:500',
              'getSeriesOver:600',
              'getSeriesOver:700',
            ];

            for(let method of methods) {

              let array = method.split(':');

              if(array.length === 1){
                results.push(this[method](year));
              } else {
                let result = this[array[0]](year, parseInt(array[1]));

                if(result){
                  results.push(result);
                }
              }

            }

            return results;
          },

          getCurrentAverage(year = null){
            let pins = this.getTotalPins(year).result;
            let games = this.getGamesPlayed(year).result;

            return {
              title: 'Average',
              result: (pins / games).toFixed(0),
            }
          },

          getGamesOver(year = null, target) {
            let results = year ? this.years[year] : this.results;
            let count = 0;

            for(let week of Object.values(results)){
              for(let game of week.games){
                if(game >= target){
                  count++;
                }
              }
            }

            if(count === 0) return null;

            return {
              title: `Games over ${target}`,
              result: count,
            }
          },

          getSeriesOver(year = null, target) {
            let results = year ? this.years[year] : this.results;
            let count = 0;

            for(let week of Object.values(results)){
              if(week.series >= target){
                count++;
              }
            }

            if(count === 0) return null;

            return {
              title: `Series over ${target}`,
              result: count,
            }
          },

          getGamesPlayed(year = null){
            let results = year ? this.years[year] : this.results;
            let runningScore = 0;

            for(let week of Object.values(results)){
              runningScore += 3;
            }

            return {
              title: 'Total games played',
              result: runningScore
            }
          },

          getTotalPins(year = null) {
            let results = year ? this.years[year] : this.results;
            let runningScore = 0;

            for(let week of Object.values(results)){
              runningScore += week.series;
            }

            return {
              title: 'Total pins',
              result: runningScore
            }
          },

          getLowestGame(year = null){
            let results = year ? this.years[year] : this.results;
            let runningLowScore = 301;
            let when = '';

            for(let week of Object.values(results)){
              for(let game of week.games){
                if(game < runningLowScore){
                  runningLowScore = game;
                  when = week;
                }
              }
            }

            return {
              title: 'Lowest game',
              result: runningLowScore,
              date: when.date.format(this.dateFormat),
            }
          },

          getHighestGame(year = null){
            let results = year ? this.years[year] : this.results;
            let runningScore = 0;
            let when = '';

            for(let week of Object.values(results)){
              for(let game of week.games){
                if(game > runningScore){
                  runningScore = game;
                  when = week;
                }
              }
            }

            return {
              title: 'Highest game',
              result: runningScore,
              date: when.date.format(this.dateFormat),
            }
          },

          getHighestSeries(year = null){
            let results = year ? this.years[year] : this.results;
            let runningScore = 0;
            let when = '';

            for(let week of Object.values(results)){
              if(week.series > runningScore){
                runningScore = week.series;
                when = week;
              }
            }

            return {
              title: 'Highest series',
              result: runningScore,
              date: when.date.format(this.dateFormat),
            }
          },

          getLowestSeries(year = null){
            let results = year ? this.years[year] : this.results;
            let runningScore = 901;
            let when = '';

            for(let week of Object.values(results)){
              if(week.series < runningScore){
                runningScore = week.series;
                when = week;
              }
            }

            return {
              title: 'Lowest series',
              result: runningScore,
              date: when.date.format(this.dateFormat),
            }
          },

          runningAverageText(index, year = null) {
            let lastRunningAverage = this.runningAverage(index-1, year);
            let currentRunningAverage = this.runningAverage(index, year);

            if(index-1 < 0){
              lastRunningAverage = currentRunningAverage;
            }

            let diff = currentRunningAverage - lastRunningAverage;
            let diffCssClass = 'default';

            if(diff > 0){
              diffCssClass = 'success'
            } else if(diff < 0){
              diffCssClass = 'danger'
            }

            diff = diff > 0 ? '+'+diff : diff;
            let averageChange = `<span class="text-${diffCssClass}">${diff}</span>`;

            let returnResult = currentRunningAverage;

            if(diff !== 0){
              returnResult += ` ${averageChange}`;
            }

            return returnResult;
          },

          runningAverage(index, year = null){
            let results = year ? this.years[year] : this.results;
            let data = Object.keys(results).splice(0, index+1);
            let total = 0;
            let count = data.length;

            for(let date of data){
              if(results.hasOwnProperty(date)){
                total += results[date].series;
              }
            }

            return (total / (count*3)).toFixed(this.decimalPlaces);
          },

        },
      };

      new Vue({
        'el': '#app',
        'name': 'Bowling',
        data() {
          return {
            'loading': true,
            'results': [],
          }
        },
        components: {
          Bowling,
        },
        computed: {
          hasResults() {
            return Object.keys(this.results).length > 0 && this.loading === false;
          },
        },
        mounted(){
          this.getData();
        },
        methods: {
          getData() {
            let url = "http://home.ayles.com.au/api/bowling-results";
            axios.defaults.crossDomain = true;

            axios.get(url).then((r) => {
              this.results = JSON.parse(r.data.results);
              this.loading = false;

            }).catch((error) => {
              if(error.code === 404){
                this.getData();
              }
            });
          },

          series(games){
            return games[0] + games[1] + games[2];
          },

          games(games){
            return [parseInt(games[0]), parseInt(games[1]), parseInt(games[2])];
          },

          sortResults(results) {
            const ordered = {};

            const keys = Object.keys(results).sort((a,b) => {
              let c = moment(a, "DD/MM/YYYY");
              let d = moment(b, "DD/MM/YYYY");

              return c - d;
            });

            for(let key of keys){
              if(results.hasOwnProperty(key)){
                let result = {
                  games: this.games(results[key]),
                  date: moment(key, "DD/MM/YYYY"),
                };

                result.series = this.series(result.games);
                result.average = parseInt((result.series / 3).toFixed(0));

                ordered[key] = result;
              }
            }

            return ordered;
          },
        }
      });
    </script>
</html>